body{
    background-color: #E0E0F5;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.Todo-Item:hover .trash-icon {
    display: block;
  }
